@font-face {
    font-family: 'BebasNeueCyrillic';
    src: url('../fonts/ofont.ru_Bebas Neue.eot');
    src: local('☺'), url('../fonts/ofont.ru_Bebas Neue.woff') format('woff'), url('../fonts/ofont.ru_Bebas Neue.ttf') format('truetype'), url('../fonts/ofont.ru_Bebas Neue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'BebasNeueCyrillic', sans-serif;
}

header .hat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding-left: 17px;
    padding-right: 90px;
}
header ul{
    display: flex;
}
header li{
    list-style: none;
    font-size: 40px;
    line-height: 40px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid white;
    text-transform: uppercase;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: #F39200;
}
header .hat .icons_1{
    display: flex;
    align-items: center;
}
header .hat .icons_1 img{
    margin-left: 25px;
}
section {
    background: black;
}
section h2{
    color: white;
    font-size: 190px;
    line-height: 190px;
    padding-top: 40px;
}
section  .title p{
    color: white;
    font-size: 38px;
    line-height: 38px;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    padding: 70px 0;
}
section h4{
     color: white;
    font-size: 55px;
    line-height: 55px;
 }
section  .form p{
    color: white;
    font-size: 45px;
    line-height: 45px;
    text-transform: uppercase;
}
section .form input{
    width: 45vw;
    font-size: 40px;
    outline: none;
}
section .form textarea{
    width: 45vw;
    outline: none;
    font-size: 40px;
}
section .form .work textarea{
    min-height: 50vh;
}
section .form .value textarea{
    min-height: 20vh;
}
section .form .motivation textarea{
    min-height: 10vh;
}




footer{
    padding-top: 400px;
    background: black;
}
footer .hat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-left: 17px;
    padding-right: 90px;
}
footer ul{
    display: flex;
}
footer li{
    list-style: none;
    font-size: 40px;
    line-height: 40px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid white;
    text-transform: uppercase;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: #F39200;
}
footer .hat .icons_1{
    display: flex;
    align-items: center;
}
footer .hat .icons_1 img{
    margin-left: 25px;
}